{% extends 'base.html' %}

{% block title %}Admin Home{% endblock %}

{# Set the active page to be highlighted in the navigation bar. #}
{% set active_page = 'home' %}

{% block content %}
<section class="container-fluid d-flex align-items-center justify-content-center min-vh-100 py-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- text content -->
            <div class="col-lg-6 order-lg-1 order-2 text-lg-start text-center">
                <h1 class="display-4 fw-bold mb-4">Kia ora!👋</h1>
                <p class="lead text-muted mb-4">
                    As an admin, you can manage and oversee reported issues and manage all the users' profiles. Thanks for keeping Lincoln Community Campground a great place for everyone!
                </p>
                <a href="{{url_for('user_issues')}}" class="btn btn-success me-2 my-2">Manage User Issues</a>
                <a href="{{url_for('user_management')}}" class="btn btn-outline-success me-2 my-2">User Management</a>
                <a href="{{url_for('my_issues')}}" class="btn btn-outline-success me-2 my-2">Check My Issues</a>
                <div class="mt-5">
                <p class="text-body-tertiary">Developed by Xiao Zhang, Student ID: 1163066</p>
                </div>
            </div>

            <!-- image -->
            <div class="col-lg-6 order-lg-2 order-1 mb-lg-0 mb-4">
                <img src="/static/home_pic.png" alt="Visitor Home Image" class="img-fluid">
            </div>
        </div>
        
    </div>
</section>
{% endblock %}