{% extends 'base_login_signup.html' %}

{% block title %}Login{% endblock %}

{% block cardname %}Log In{% endblock %}
{% block content %}

<div class="row justify-content-center">
  <form class="col-12" action="{{ url_for('login') }}" method="post">
    <div class="form-floating mb-4">
      <input type="text" class="form-control{% if username_invalid %} is-invalid{% endif %}" id="username" name="username" placeholder="Enter your username..." maxlength=20 value="{{ username }}" required>
      <label for="username" class="form-label">Username</label>
      <div class="invalid-feedback">Can't find your account</div>
    </div>
    <div class="form-floating mb-4">
      <input type="password" class="form-control{% if password_invalid %} is-invalid{% endif %}" id="password" name="password" placeholder="Enter your password..." required>
      <label for="password" class="form-label">Password</label>
      <div class="invalid-feedback">Incorrect username or password</div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success col-12 mt-2 mb-2">Log In</button>
    </div>
  </form>
</div>
<div class="flex-column mt-auto mt-lg-2">
  <div class="p-2">Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></div>
</div>
{% endblock %}