{% extends 'base_login_signup.html' %}

{% block title %}Sign Up{% endblock %}

{% block cardname %}Sign Up{% endblock %}

{% block content %}

<div class="row justify-content-center">
<form class="m-1" action="{{ url_for('signup') }}" method="post">
  <div class="form-floating mb-3">
    <input type="text" class="form-control{% if username_error %} is-invalid{% endif %}" id="username" name="username" placeholder="Choose a username..." maxlength=20 value="{{ username }}" required>
    <label for="username" class="form-label">Username</label>
    <div class="invalid-feedback">{{ username_error }}</div>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control{% if email_error %} is-invalid{% endif %}" id="email" name="email" placeholder="Enter your email address..." maxlength=320 value="{{ email }}" required>
    <label for="email" class="form-label">Email Address</label>
    <div class="invalid-feedback">{{ email_error }}</div>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control{% if password_error %} is-invalid{% endif %}" id="password" name="password" placeholder="Choose a password..." aria-describedby="passwordHelp" required>
    <label for="password" class="form-label">Password</label>
    <div id="passwordHelp" class="form-text">Password must be at least 8 characters long and include a mix of letters and numbers.</div>
    <div class="invalid-feedback">{{ password_error }}</div>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Enter your password again..." required>
    <label for="confirm_password" class="form-label">Confirm Password</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter your first name..." value="{{ first_name }}" required>
    <label for="confirm_password" class="form-label">First Name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your last name..." value="{{ last_name }}" required>
    <label for="confirm_password" class="form-label">Last Name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="location" name="location" placeholder="Enter your location..." value="{{ location }}" required>
    <label for="confirm_password" class="form-label">Home Location</label>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-success col-12 mt-2 mb-2">Sign Up</button>
  </div>
</form>
</div>
<div class="flex-column mt-auto mt-lg-2">
  <div class="p-2">Already have an account? <a href="{{ url_for('login') }}">Log in</a></div>
</div>

{% endblock %}