/* navbar logo width */
.navbar-brand {
    width: 250px !important; 
}
/* sidebar width and color */
.offcanvas {
    width: 250px !important; 
    background-color: #ffffff; 
}
/* content area on the right of sidebar */
.main-content {
    margin-left: 0; 
    transition: margin-left 0.3s; 
}

/* sidebar link color */
.nav-pills .nav-link.active {
    background-color: #19875441 !important; 
    color: 198754 !important; 
    border-radius: 5px; 
}

/* sidebar link hover color */
.nav-pills .nav-link:hover {
    background-color: #19875412 !important; 
    color: 198754 !important; 
    border-radius: 5px; 
}

/* always show side bar on larg screen */
@media (min-width: 992px) {
    .offcanvas {
        position: fixed;
        top: -8px !important; 
        bottom: 0;
        left: 0;
        z-index: 1000;
        transform: none !important; /* no collapse */
        visibility: visible !important;
    }
    .main-content {
        margin-left: 250px; 
    }
    /* hide close button */
    .offcanvas .btn-close {
        display: none;
    }
    }

/* shadow style for the issue cards in User Issues page */
.hover-shadow {
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.hover-shadow:hover {
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}


.accordion-active-bg {
    background-color: #19875412 !important; 
}

.accordion-active-color {
    color: #198754 !important; 
}

/* issue badge backgroung colors for differenr status */
.text-bg-new {
    background-color: #0d6efd;
}

.text-bg-open {
    background-color: #ffc107;
}

.text-bg-stalled {
    background-color: #636366;
}

.text-bg-resolved {
    background-color: #198754;
}

/* login & sign up page style */
/* fullscreen background image  */
html, body {
    overflow: hidden;
    margin: 0; 
    padding: 0;
    width: 100%; 
    height: 100%; 
  }

  .full-screen {
    width: 100vw; 
    height: 100vh;
  }

  /* Logo & title */
  .logo-container {
    position: absolute;
  }