:root {
    --bs-primary: #198754 !important; 
  }
  

.navbar-brand {
    width: 250px !important; /* 强制设置侧边栏宽度 */
}
.offcanvas {
    width: 250px !important; /* 强制设置侧边栏宽度 */
    background-color: #ffffff; /* 浅色背景 */
}
/* 主要内容区域 */
.main-content {
    margin-left: 0; /* 默认没有侧边栏偏移 */
    transition: margin-left 0.3s; /* 平滑过渡 */
}


.nav-pills .nav-link.active {
    background-color: #19875441 !important; /* 你想要的颜色 */
    color: 198754 !important; /* 文字颜色 */
    border-radius: 5px; /* 圆角（可选） */
}

.nav-pills .nav-link:hover {
    background-color: #19875412 !important; /* 你想要的颜色 */
    color: 198754 !important; /* 文字颜色 */
    border-radius: 5px; /* 圆角（可选） */
}

/* PC 端侧边栏常驻 */
@media (min-width: 992px) {
    .offcanvas {
        position: fixed;
        top: -8px !important; /* 顶部导航栏的高度 */
        bottom: 0;
        left: 0;
        z-index: 1000;
        transform: none !important; /* 强制显示 */
        visibility: visible !important;
    }
    .main-content {
        margin-left: 250px; /* 侧边栏宽度 */
    }
    /* 隐藏 Offcanvas 的关闭按钮 */
    .offcanvas .btn-close {
        display: none;
    }
    }

.hover-shadow {
    box-shadow: 0 0rem 1rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}
.hover-shadow:hover {
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}
    

.accordion-active-bg {
    background-color: #19875412 !important; 
}

.accordion-active-color {
    color: #198754 !important; 
}

/* issue badge backgroung colors for differenr status */
.text-bg-new {
    background-color: #0d6efd;
}

.text-bg-open {
    background-color: #ffc107;
}

.text-bg-stalled {
    background-color: #636366;
}

.text-bg-resolved {
    background-color: #198754;
}